{% extends "../layout.html" %}
{% block title %}List page{% endblock %}
{% block content %}
    <form method="POST" action="/">
        <!--action is base url path-->
        {% csrf_token %}
        <!--for site security-->
        {{ form.title }}
        {{ form.link }}
        <input class="btn btn-info" type="submit" name="Create Task">
    </form>

    <div class="todo-list">
        {% for task in tasks %}
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Link</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
            <a class="btn btn-sm btn-danger" href="{% url 'user' %}">User</a>
            {% if task.complete == True %}
            <s>{{task}}</s>
            {% else %}
            <span>{{task}}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}