<div class="body">
    <div class="column">
        <div class="section1">
            <div class="linkbar">
                <div class="filler-text">
                    "Insert Link to Save"
                </div>
                <div class="button">
                    TAGS
                </div>
            </div>
            <div>
                <div class=button2>
                    SAVE
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="headers">
            <div>"PFP"</div>
            <div>"LINK"</div>
            <div>"DATE"</div>
        </div>
        <div class="section3">
            <div class="sidebar">"FILTERS"</div>
            <div class="list">
                <div class="list-item">
                    <div class="s1">PROFILE PIC</div>
                    <div class="s2">
                        <div>link name</div>
                        <div>url</div>
                    </div>
                    <div class="s3">
                        <div>date</div>
                        <div>time</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>